* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-text: #eaecee;
  --link-text: rgba(234, 236, 238, 0.75);
  --background-color-one: #2c4550;
  --background-color-two: #040708;
  --footer-color-left: rgba(0, 0, 0, 0.4);
  --footer-color-right: rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-text: #08120c;
    --link-text: rgba(8, 18, 12, 0.75);
    --background-color-one: #53b679;
    --background-color-two: #eef8f2;
    --footer-color-left: rgba(255, 255, 255, 0.4);
    --footer-color-right: rgba(255, 255, 255, 0.5);
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: var(--primary-text);
  background-color: var(--background-color-one);
  background-image: linear-gradient(
    90deg,
    var(--background-color-one),
    var(--background-color-two)
  );
}

h1,
h2,
h3,
.horizontal a {
  font-weight: 700;
}

h1 {
  font-size: 7.2rem;
  line-height: 1;
  margin-bottom: 3.4rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

p {
  font-size: 1.8rem;
  line-height: 1.6;
}

main {
  height: 100vh;
  display: grid;
  grid-template-columns: 16rem 1fr;
}

.sidebar {
  display: grid;
  justify-content: center;
  width: 16rem;
  border-right: 1px solid var(--primary-text);
}

.social {
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr;
  align-self: end;
  justify-self: center;
  gap: 4rem;
  margin-bottom: 5rem;
}

.social-icon {
  height: 2.7rem;
  width: 2.7rem;
  color: var(--link-text);
}

.social-icon:hover,
.social-icon:active {
  color: var(--primary-text);
}

.horizontal {
  grid-column: span 4;
  transition: all 0.3s;
}

.horizontal ul {
  display: flex;
  justify-content: flex-end;
  gap: 4rem;
  margin-top: 3rem;

  list-style: none;
  font-size: 2rem;
}

.horizontal a:link,
.horizontal a:visited {
  color: var(--link-text);
  text-decoration: none;
}

.horizontal a:hover,
.horizontal a:active {
  color: var(--primary-text);
  text-decoration: none;
  border-bottom: 1px solid var(--link-text);
  padding-bottom: 1rem;
}

.darkmode {
  margin: 0 4rem;
}

.darkmode:hover,
.darkmode:active {
  color: var(--primary-text);
  text-decoration: none;
  border-bottom: none !important;
  padding-bottom: 0 !important;
}

.active {
  border-bottom: 1px solid var(--link-text);
  padding-bottom: 1rem;
}

.content {
  display: grid;
  grid-template: 7rem 1fr 25rem / repeat(4, 1fr);
}

.hero {
  margin-left: 12rem;
  align-self: center;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.img-container {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  z-index: -1;
}

.img {
  z-index: -1;
  width: 100%;
}

footer {
  background: radial-gradient(
    var(--footer-color-left),
    var(--footer-color-right)
  );
  backdrop-filter: blur(50px);
  grid-column: 1 / -1;
  grid-row: 3 / -1;
}

.layout {
  display: flex;
  align-items: center;
}

.spaceman {
  display: block;
  margin-left: 12rem;
  height: 100%;
}

.arrow {
  align-self: flex-end;
  justify-self: flex-start;
}

.text {
  display: flex;
  align-content: center;
  margin: 4rem 6rem;
  gap: 12rem;
}

.group1 {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
}

.group2 {
  justify-self: flex-end;
}
